[defaults]
# Colon separated paths in which Ansible will search for Roles.
roles_path = ../

# This adds output that shows when a task is started to execute for each host
show_per_host_start = true

# ansible.builtin.default callback - Define the task result format used in the callback output.
callback_result_format = yaml

# Configure the result format to be more readable
callback_format_pretty = true
